
  .marquee img {
      animation: marquee 5s linear infinite ;
  }
 
  @keyframes marquee {
   0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }